# ================= API =================
fastapi
uvicorn
gunicorn
python-multipart
requests

# ================= OCR =================
easyocr
pdf2image
pdfminer.six
pillow

# ================= NLP =================
spacy
phonenumbers
python-docx

# ================= AI MATCHING =================
sentence-transformers
torch
